<h1>Coping_list_app</h1>
<p>comming soooon!</p>

<% if logged_in? %>
	<%= "現在#{current_user.id}がログインしています" %>
<% end %>
<%= link_to 'Log Out', logout_path, method: :delete %></br>
<%= link_to 'リスト新規作成', new_coping_list_path %>