<h1>CopingLists#index</h1>
<p>コーピングリスト一覧</p>

<%= link_to 'リスト新規作成', new_coping_list_path %>

<% @coping_lists.each do |coping| %>
	<h3><%= link_to coping.list_name, coping_list_copings_path(coping.id) %></h3>
<% end %>