<div class="mx-auto lg:w-3/5">
	<h1 class="my-8 text-2xl bold text-gray-700 text-center dark:text-white">コーピングリスト<br />新規作成</h1>

  	<!-- login form -->
	<div class="mt-8 mb-5">
		<%= render 'coping_list_form', { coping_list: @coping_list } %>
	</div>
	<%= link_to 'リスト一覧へ戻る', coping_lists_path, class: 'flex items-center justify-center mb-10 text-green-600 focus:outline-none focus:underline hover:underline' %>
</div>